.App {
  display: grid;
  grid-template-areas: "header header" "aside main";
  grid-template-rows: 200px 1fr;
  grid-template-columns: 300px 1fr;
  height: 100vh;
}

.main {
  grid-area: main;
  background: #2e4b89;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
}